{
  "publicKey": "-----BEGIN PUBLIC KEY-----\nMFswDQYJKoZIhvcNAQEBBQADSgAwRwJAYyt8c/EsCjG4JietdBufAqjuP8m1iNS4\nTtTj7e2HwN9d/ro4o2TaPXLt78qQ0D1eHcwRvyksgx4+1bv7yYYrZwIDAQAB\n-----END PUBLIC KEY-----",
  "privateKey": "-----BEGIN RSA PRIVATE KEY-----\nMIIBOAIBAAJAYyt8c/EsCjG4JietdBufAqjuP8m1iNS4TtTj7e2HwN9d/ro4o2Ta\nPXLt78qQ0D1eHcwRvyksgx4+1bv7yYYrZwIDAQABAkAJKla5PHvugUPcuuQMDBV5\nIHXMjW7qs4ZJOuHJ9p8KUz0fIQvpkNQxXNPWh2XIJYuIrFXZHPR4gEW5SgksjasR\nAiEAobAWcepTOV2LYGU/VmBmz9/sKMWlLTUtnzrVQrq7BzkCIQCdA/M7pQvOWAVt\nBjOkSb5PFp2olf1Q21629De5wFsnnwIgV8Z6SNlG2OuZkHkmi0PGTK9pSzEQ3Jvz\n6m9L+u/YPLECICGG+GciBPVYoj/3dQt9m59zqtKWxHKBhSX32/ZT9qLtAiBpTfAj\nTH0gUTDsgXuBccREbxjeWGB0nN3kzLZ0aiZ7yQ==\n-----END RSA PRIVATE KEY-----",
  "tokenTtl": 3600
}